@model ASTE.Demos.Mielenterveysseura.Models.formViewModel

<div class="text-center">
    <h1>Keskustelu lapsesta, perheestä ja varhaiskasvatuksen ympäristöstä</h1>
</div>
<ul class="nav nav-tabs marginTop40">
    <li role="presentation" class="active"><a href="#">Lapsen vanhempi</a></li>
    <li role="presentation"><a href="#">Opettaja</a></li>
    <li role="presentation"><a href="#">Lastenpsykiatri</a></li>
    <li role="presentation"><a href="#">Lastensuojelu</a></li>
</ul>
<div class='well marginTop20 marginBottom40" style="background-color: #FFF8CA; background-image: none; border-color: #E0C900;'>Tallentamasi vastaukset:</div>

    @for (int i = 0; i < Model.form.answers.Count; i++)
    {
        <div class="row marginTop10">
            <div class="col-sm-6" style="font-weight:bold;">@(Model.form.answers[i].form_question_metadata.ordernumber.ToString() + ". " + Model.form.answers[i].form_question_metadata.question)</div>
            <div class="col-sm-6">
                <p>
                    @Model.form.answers[i].value
                </p>
            </div>
        </div>
    }