<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lapset puheeksi - lokikirja</title>

    <!-- General METADATA -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <!-- Semantic META -->
    <meta name="keywords" content="">
    <meta name="description" content="">


    <!--Application CSS Files-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/modernizr")



    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<style>
    body {
	font-family: 'Open Sans';
	-webkit-font-smoothing: antialiased;
	word-spacing: 4px;
	background: #fdfbf4;
	padding-bottom: 0;
}

.container {
	width: 100%;
	padding: 0;
}

header .container {
	padding: 0 20px;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
}

.container .jumbotron {
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 65, 58, 0.2)), to(rgba(56, 65, 58, 0)));
}

.section .container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	font-size: 1.2em;
}

.marginTop40 {
	margin-top: 40px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginBottom40 {
	margin-bottom: 40px;
}

.marginTop20 {
	margin-top: 20px;
}

textarea {
	border-radius: 5px;
	border-color: #B9B9B9;
}

textarea:focus {
	outline-color: #B9B9B9;
}

.btn-primary {
	border-radius: 4px;
	background-image: none;
	background-color: #539762;
}

.btn-primary:focus , .btn-primary:hover {
	background-color: #4A7554;
}

input , select , textarea {
	max-width: none;
}

.footer {
	color: white;
	background-color: #38413a;
	background-image: -webkit-linear-gradient(top, #38413a, #38413a);
	background-image: -moz-linear-gradient(top, #38413a, #38413a);
	background-image: -o-linear-gradient(top, #38413a, #38413a);
	background-image: linear-gradient(to bottom, #38413a, #38413a);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#38413a), to(#38413a));
	border-top: none;
}

.paddingTop20 {
	padding-top: 20px;
}

.paddingBottom20 {
	padding-bottom: 20px;
}



</style>

<body class="" cz-shortcut-listen="true">
    <header class="navbar navbar-fixed-top navbar-inverse ng-scope">
        <div class="container ng-scope" data-ng-controller="HeaderController">
            <div class="navbar-header">
                <button class="navbar-toggle ng-hide" type="button" data-ng-click="toggleCollapsibleMenu()" data-ng-show="authentication.user">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="/#!/" class="navbar-brand"><img src="/modules/core/img/brand/logo_white.png" class="logo" alt="Lapset puheeksi" style="display: none;">Lapset puheeksi</a>
            </div>
            <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" style="height: 0px;">
                <ul class="nav navbar-nav"></ul>
                <!-- Comment -->
                <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
                    <li class="divider-vertical"></li>
                </ul>
                <!-- Comment -->
                <ul class="nav navbar-nav navbar-right ng-hide" data-ng-show="authentication.user">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-ng-bind="authentication.user.displayName" class="ng-binding"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/settings/profile" class="ng-binding">settings</a></li>
                            <li data-ng-show="authentication.user.provider === 'local' &amp;&amp; authentication.user.role === 'user'" class="ng-hide"><a href="/#!/settings/password">Vaihda salasana</a></li>
                            <li class="divider"></li>
                            <li><a href="/auth/signout" class="ng-binding">signout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="content">

        <section class="container">
            <!-- uiView:  -->
            <section data-ui-view="" class="ng-scope">
                <section class="home ng-scope" data-ng-controller="HomeController" data-ng-init="find()">
                    <div class="jumbotron text-center">
                        <img class="top-image img-responsive" src="~/Content/Images/toimivalapsijanuori_alpha.png">
                    </div>

                    <div class="section">
                        <div class="container">
                            @RenderBody()

                        </div>

                        <div class="row providers">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>

                </section>
            </section>
        </section>
    </section>
    <!-- ngInclude: '/modules/core/views/footer.client.view.html' -->
    <footer data-ng-include="'/modules/core/views/footer.client.view.html'" class="footer ng-scope">
        <div class="text-center paddingBottom20 paddingTop20 ng-scope">
            <div>Copyright @@ 2015 Avoin sosiaali ja terveys (ASTE)</div>
            <a href="mailto:foo@bar.com" style="display: none;">foo@bar.com</a>
        </div>
    </footer>
    <script>
        //Change the api key to a working one. You can get the api key from the api discovery, by creating a new Client.
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader('api_key', '7DAB50E3-B5D5-45DD-BBAC-C195D646507B');
            }
        });
    </script>
</body>
</html>