
<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Create, Edit, Update and Delete modules
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Module")">Modules</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Processes</h2>
        <p>
            Create, Edit, Update and Delete processes
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Process")">Processes</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>
            Create, Edit, Update and Delete clients
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Client")">Client</a></p>
    </div>
</div>
